{% extends "base.html" %}

{% block content %}
<section class="container py-5 mt-5">

    <!-- Team Section -->
    <section class="team-section">
        <div class="container">
            <h2 class="text-center mb-5">Meet Our Team</h2>
            <div class="row">
                <!-- Team Member 1 -->
                <div class="col-md-4 col-lg-3 team-member">
                    <img src="/static/images/member1.jpg" alt="Team Member 1">
                    <h5>MYDAM UMAMAHESHWAR</h5>
                    <p>21BTB0A44</p>
                </div>

                <!-- Team Member 2 -->
                <div class="col-md-4 col-lg-3 team-member">
                    <img src="/static/images/member2.jpg" alt="Team Member 2">
                    <h5>P. PAVAN KUMAR</h5>
                     <p>21BTB0A54</p>
                </div>

                <!-- Team Member 3 -->
                <div class="col-md-4 col-lg-3 team-member">
                    <img src="/static/images/member3.jpg" alt="Team Member 3">
                    <h5>D.SHIVA SUBRAMANYAM </h5>
                     <p>21BTB0A18</p>
                </div>

                <!-- Team Member 4 -->
                <div class="col-md-4 col-lg-3 team-member">
                    <img src="/static/images/member4.jpg" alt="Team Member 4">
                    <h5>M.SREE SAI CHARAN </h5>
                     <p>21BTB0A42</p>
                </div>

                <!-- Team Member 5 -->
                <div class="col-md-4 col-lg-3 team-member">
                    <img src="/static/images/member5.jpg" alt="Team Member 5">
                    <h5>C. AKHILA</h5>
                     <p>21BTB0A11</p>
                </div>
            </div>
        </div>
    </section>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</section>
{% endblock %}
